@font-face {
    font-family: 'HelveticaNeueCyrRoman';
url('../fonts/helveticaneuecyr-roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100%;
    height: 153px;
    background: url("../images/header-fon.png") no-repeat;
    background-size: auto auto;
    font-family: HelveticaNeueCyrRoman, sans-serif;
    font-size: 14px;
    color: #3a2b0f;
}

/*---Header---*/
.header-logo {
    height: 180px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    margin-top: 15px;
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu {
    visibility: visible;
}

.nav-ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav-li {
    color: #3a2b0f;
    margin-right: 15px;
}

.nav-li:hover, .function-li:hover {
    color: #ff8400;
}

.header-nav-link {
    color: #ff8400;
    text-decoration: underline;
    margin-right: 20px;
}

.header-nav-link:hover {
    color: #3a2b0f;
    text-decoration: underline;
}

.lang {
    border: 1px solid #3a2b0f;
    border-radius: 5px;
    padding: 4px;
}

.lang-rus {
    color: #3a2b0f;
    text-decoration: none;
    border-right: 1px solid #3a2b0f;
    padding-right: 5px;
}

.lang-ukr {
    color: #3a2b0f;
    text-decoration: none;
}

.lang-rus:hover, .lang-ukr:hover {
    color: #ff8400;
    text-decoration: none;
}

.header-contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 15px;
}

.contact-phone {
    margin-right: 78px;
}

.contact-phone:before, .contact-phone-footer:before {
    content: url("../images/phone.png");
    margin-left: -25px;
    position: absolute;
}

.contact-email a {
    text-decoration: none;
    color: #3a2b0f;
}

.contact-email:before {
    position: absolute;
    content: url("../images/email.png");
    margin-left: -30px;
    margin-top: 3px;
}

.header-search-manager {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 15px;
}

.header-search {
    width: 445px;
}

.form-control, .btn-default {
    background: transparent;
    border: 1px solid #91746d;
    height: 30px;
    border-radius: 8px;
}

.btn {
    padding: 0 10px;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: transparent;
    border-color: #adadad;
}

.header-function {
    width: 500px;
}

.function {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    margin-left: 38px;
    padding: 0;
}

.function-li {
    color: #3a2b0f;
}

.image-link {
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    margin-left: 7px;
}

/*---Sidebar---*/
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-orange {
    background-color: #f98100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: white;
    width: 166px;
    height: 40px;
    border-bottom: 1px solid transparent;
    border-radius: 0 0 5px 5px;
}

.menu-sidebar {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
}

.menu-sidebar > li > a {
    width: 166px;
    height: 37px;
    margin-top: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    border-radius: 7px;
    color: white;
}

.open > .dropdown-menu {
    position: relative;
}

.dropdown-link1 {
    background-color: #014e9e;
}

.dropdown-link2 {
    background-color: #f18101;
}

.dropdown-link3 {
    background-color: #00963f;
}

.dropdown-link4 {
    background-color: #a26c22;
}

.dropdown-link5 {
    background-color: #bf087e;
}

.dropdown-link6 {
    background-color: #50c1e3;
}

.dropdown-link7 {
    background-color: #ffb931;
}

.dropdown-link8 {
    background-color: #e50716;
}

.dropdown-link9 {
    background-color: #5ab031;
}

.dropdown-link10 {
    background-color: #437eba;
}

.dropdown-link11 {
    background-color: #f06e76;
}

.dropdown-link12 {
    background-color: #9d9d9d;
}

.dropdown-link13 {
    background-color: #343ab6;
}

.dropdown-link14 {
    background-color: #86368d;
}

.dropdown-menu > li:hover .menu-min {
    visibility: visible;
}

.menu-min {
    width: 910px;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    top: 0;
    position: absolute;
    -webkit-padding-start: 0;
    left: 195px;
    visibility: hidden;
    transition: width 2.3s ease 2.15s;
}

.menu-min:before {
    content: url("../images/ug1.png");
    position: absolute;
    left: -30px;
    top: -48px;
}

.menu-pic {
    width: 590px;
    margin-top: -20px;
    z-index: 999;
}

.menu-pic > ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.menu-pic > ul > li {
    margin: 8px 5px 0 40px;

}

.menu-pic > ul > li a, .menu-promo > ul > li > a {
    color: #3a2b0f;
}

.menu-pic > ul > li a:hover, .menu-promo > ul > li > a:hover {
    color: #f98100;
}

.menu-promo {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    z-index: 999;
}

.menu-promo > ul {
    display: flex;
    list-style: none;
    padding: 0;

}

.menu-promo > ul > li {
    margin: 40px 0 0 25px;
}

/*---Sidebar question---*/
.panel-question, .panel-contest, .panel-buy {
    margin-top: 15px;
}

.panel-heading {
    background: #21b1c9;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-body {
    padding: 0;
}

.panel-body p {
    margin: 5px 15px 10px;
}

.panel-present {
    text-align: center;
}

.panel-present p {
    text-align: left;
}

.img-contest {
    width: 140px;
}

.panel-title {
    color: white;
    font-size: 20px;
    text-align: center;
}

.list-group-item {
    padding: 0 15px;
    border: none;
}

.panel-button {
    padding: 0 15px;
    margin-bottom: 15px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.btn-question {
    color: #fff;
    background-color: #21b1c9;
    height: 30px;
}

.line {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.checkbox label {
    padding-left: 0;
}

input[type="checkbox"] {
    display: none;
}

input[type=checkbox]:checked + label {
    color: #ef1873;
}

input[type="checkbox"]:checked + label span {
    background: url(../images/check-on.png) top no-repeat;
}

input[type="checkbox"] + label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(../images/check-off.png) left top no-repeat;
    cursor: pointer;
}

/*---Sidebar contest---*/
.panel-heading-contest {
    background-color: #fb5825;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.btn-contest {
    color: #fff;
    background-color: #fb5825;
    height: 30px;
}

/*---Sidebar buy---*/
.panel-heading-buy {
    background-color: #00963f;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-heading-buy h3 {
    font-size: 16px;
}

.new-label-buy {
    text-align: center;
    height: 60px;
    margin-top: 10px;
}

.product-buy {
    margin-top: 10px;
}

.hr-top-buy, .hr-bottom-buy {
    border-top: 1px solid;
    width: 138px;
}

#description-buy {
    margin: 5px 0 10px;
}

.purchase-buy {
    width: 76px;
    background-color: #ffd900;
    border: none;
    border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
}

.basket {
    width: 17px;
    height: 17px;
}

.image-buy {
    width: 25px;
    height: 25px;
    border: 1px solid;
    border-radius: 5px;
    padding: 3px;
}

/*--Slider images--*/
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;
    width: 100%;
    height: auto;
}

.carousel-inner {
    border-radius: 10px;
}

.carousel-control.left,
.carousel-control.right {
    width: 30px;
    background-image: none;
    margin-top: 315px;
}

.carousel-control.left {
    margin-left: 875px;
}

.carousel-control.right {
    margin-right: 15px;
}

.slider-button {
    width: 165px;
    height: 34px;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    opacity: .8;
    color: white;
    position: absolute;
    left: 445px;
    bottom: 70px;
    z-index: 10;
    font-family: HelveticaNeueCyrRoman, sans-serif;
    font-size: 22px;
    font-weight: bold;
}

/*--Slider product--*/
.shop-front {
    margin-top: 15px;
}

.btn-left {
    position: absolute;
    top: 145px;
    left: -37px;
    z-index: 999;
    background: white;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
}

.btn-right {
    position: absolute;
    top: 145px;
    right: -37px;
    z-index: 999;
    background: white;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
}

.production-slider a {
    color: black;
    text-decoration: none;
}

.production-slider a:hover {
    color: #f77909;
}

.shop-new, .shop-top, .shop-sale, .shop-present, .shop-view {
    border: 1px solid #cccccc;
    border-radius: 8px;
    margin-top: 20px;
}

.new-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #02c2c9;
    margin: 20px;
}

.new-title h3 {
    font-size: 24px;
    font-weight: bold;
    color: #02c2c9;
}

.new-title a, .top-title a, .sale-title a, .present-title a, .view-title a {
    font-size: 15px;
    color: #949494;
    text-decoration: underline;
}

.new-title a:hover {
    color: #02c2c9;
}

.production {
    margin: 20px;
}

.new-label {
    height: 70px;
}

.present-img {
    position: absolute;
    left: 153px;
    width: 60px;
}

.production-title {
    margin-top: 35px;
}

.production-title h5 {
    color: #1d87ca;
    font-size: 16px;
}

.description-country {
    color: #666666;
}

.price {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: bold;
}

.separator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.stars {
    height: 14px;
    line-height: 14px;
    margin: 7px 0;
}

.stars:before {
    content: "\f005\f005\f005\f005\f006";
    color: #EFB71C;
    font-size: 14px;
    font-family: FontAwesome;
}

.product-purchase {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: 10px;
}

.purchase {
    width: 130px;
    background-color: #ffd900;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}

.purchase span {
    float: left;
}

.basket {
    margin-top: -3px;
}

.product-like, .product-comparion {
    color: #3a2b0f;
}

.product-like:hover, .product-comparion:hover {
    background: #ffd900;
}

.image-link-product {
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
}

.hr-top {
    border-top: 1px solid;
    width: auto;
}

.hr-bottom {
    border-top: 1px solid;
    width: auto;
}

.top-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ef0808;
    margin: 20px;
}

.top-title h3 {
    font-size: 24px;
    font-weight: bold;
    color: #ef0808;
}

.sale-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ff8a01;
    margin: 20px;
}

.sale-title h3 {
    font-size: 24px;
    font-weight: bold;
    color: #ff8a01;
}

.timer {
    display: flex;
    flex-direction: row;
    position: absolute;
}

.timer h5 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 4px;
}

.FullDays {
    background: red;
    text-align: center;
    color: white;
    border-radius: 5px;
    margin: 0;
    padding: 0;
}

.employee-p {
    font-size: 9px;
}

.days, .hours, .minuts {
    margin-left: 5px;
}

.price-sale {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
}

.new-prise {
    color: #ff0000;
}

.old-price {
    color: #b4b4b4;
    text-decoration: line-through;
}

.present-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #8405e6;
    margin: 20px;
}

.present-title h3 {
    font-size: 24px;
    font-weight: bold;
    color: #8405e6;
}

.view-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #10acdf;
    margin: 20px;
}

.view-title h3 {
    font-size: 24px;
    font-weight: bold;
    color: #10acdf;
}

/*---Footer---*/
footer {
    margin-top: 100px;
    width: 100%;
    height: 153px;
    background: url("../images/footer.png") no-repeat;
    background-size: auto auto;
}

.footer-element {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#link-blue, .logo-bank p {
    color: #1d87ca;
}

.footer-nav {
    padding-right: 25px;
}

.nav-ul-footer-top, .nav-ul-footer-bootom {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
}

.nav-li-footer {
    color: #3a2b0f;
    margin-right: 5px;
}

.contact-phone-footer {
    padding-left: 46px;
}

.contact-skype {
    margin-bottom: 10px;
}

.contact-skype:before {
    position: absolute;
    content: url("../images/skype.png");
    margin-left: -30px;
    margin-top: 3px;
}

.footer-social {
    width: 178px;
    list-style: none;
}

.footer-social li {
    float: left;
    padding: 3px;
}

.social-icon {
    width: 30px;
    height: 30px;
    font-size: 15px;
    background-color: blue;
    color: #fff;
    text-align: center;
    margin-right: 10px;
    padding-top: 7px;
    border-radius: 50%;
}

.vk {
    background-color: #4b75a2;
}

.facebook {
    background-color: #3b5998;
}

.odnoklassniki {
    background-color: #e47e25;
}

.google {
    background-color: #f63e28;
}

.youtube {
    background-color: #f05a4a;
}

.instagram {
    background-color: #854b2c;
}

/*--Scroll to top--*/
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.btn-top {
    color: #fff;
    background-color: #6fd1d1;
    border-radius: 6px;
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.19);
    opacity: 0.8;
}

/*--Scroll to top message--*/
#blfix {
    display: none;
    position: fixed;
    top: 420px;
    left: 1080px;
    background: url("../images/blfix.png") no-repeat;
    width: 230px;
    height: 150px;
    padding: 20px;
}

.blfix-text {
    font-size: 20px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 30px;
}

/*---Responsive---*/
@media (max-width: 990px) and (min-width: 768px) {
    .header-logo {
        background: transparent;
        box-shadow: none;
        justify-content: space-around;
    }

    .nav-ul {
        display: flex;
        flex-direction: column;
    }

    .menu {
        background-color: white;
        height: 100%;
        position: fixed;
        top: 0;
        left: -285px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        z-index: 999;
        opacity: .9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .burger-close {
        color: #ff8a01;
    }

    .nav-ul li {
        font-size: 18px;
        line-height: 35px;
        border-bottom: 1px solid #949494;
        width: 180px;
    }

    .header-contact {
        justify-content: flex-start;
        margin-left: 25px;
    }

    .header-nav-link {
        margin-left: -350px;
        margin-top: 2px;
    }

    .contact-phone {
        margin-right: 144px;
    }

    .function {
        margin-left: 3px;
        margin-right: -33px;
    }

    .menu-search {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f98100;
        border-radius: 10px;
        height: 40px;
    }

    .menu-product {
        background-color: #f98100;
        border: none;
        color: white;
        font-size: 16px;
        margin: 10px;
    }

    .menu-drop {
        left: -285px;
        height: 100%;
        position: fixed;
        top: 0;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        z-index: 9999;
        background-color: white;
    }

    .menu-drop > ul {
        list-style-type: none;
        padding: 0;
    }

    .menu-drop > ul > li > a {
        width: 166px;
        height: 37px;
        margin-top: 5px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 13px;
        border-radius: 7px;
        color: white;
    }

    .icon-close {
        height: 37px;
        width: 166px;
        background-color: #ff6600;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .icon-close > span {
        color: white;
        font-size: 14px;
    }

    .icon-close > a {
        color: white;
    }

    .burger2 {
        background-color: #f98100;
        border: none;
        color: white;
        font-size: 16px;
        margin: 10px;

    }

    .form-control, .btn-default {
        background: white;
    }

    .carousel-control.left {
        margin-left: 645px;
    }

    .carousel-control.left, .carousel-control.right {
        margin-top: 235px;
    }

    .slider-button {
        width: 115px;
        height: 30px;
        left: 345px;
        bottom: 55px;
        font-size: 18px;
    }

    .btn-left {
        right: 683px;
    }

    .btn-right {
        left: 683px;
    }

    .img-contest {
        width: 187px;
        margin: 5px 70px 10px;
    }

    .panel-question {
        padding-left: 0;
    }

    .panel-contest {
        padding-right: 0;
    }

    .nav-ul-footer-top, .nav-ul-footer-bootom {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        float: left;
        margin-left: 25px;
    }

    .contact-phone-footer {
        margin-top: 10px;
        padding-left: 0;
    }

    .footer-social {
        width: 140px;
    }

    .btn-top {
        margin-bottom: 330px;
    }

    #blfix {
        left: 540px;
        top: 386px;
    }
}

@media (max-width: 767px) and (min-width: 320px) {
    body {
        background: url("../images/bg-img-xs.png") no-repeat;
        background-size: contain;
    }

    .header-logo {
        height: auto;
        background: none;
        box-shadow: none;
    }

    .nav-ul {
        display: flex;
        flex-direction: column;
    }

    .header-nav-link {
        margin-left: -60px;
        margin-top: 2px;
    }

    .menu {
        background-color: white;
        height: 100%;
        position: fixed;
        top: 0;
        left: -285px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        z-index: 999;
        opacity: .9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .burger-close {
        color: #ff8a01;
    }

    .nav-ul li {
        font-size: 18px;
        line-height: 35px;
        border-bottom: 1px solid #949494;

    }

    .header-function {
        width: 100%;
    }

    .menu-search {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f98100;
        border-radius: 10px;
        height: 40px;
    }

    .menu-product {
        background-color: #f98100;
        border: none;
        color: white;
        font-size: 16px;
        margin: 10px;
    }

    .menu-drop {
        left: -285px;
        height: 100%;
        position: fixed;
        top: 0;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        z-index: 9999;
        background-color: white;
    }

    .menu-drop > ul {
        list-style-type: none;
        padding: 0;
    }

    .menu-drop > ul > li > a {
        width: 166px;
        height: 37px;
        margin-top: 5px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 13px;
        border-radius: 7px;
        color: white;
    }

    .icon-close {
        height: 37px;
        width: 166px;
        background-color: #ff6600;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .icon-close > span {
        color: white;
        font-size: 14px;
    }

    .icon-close > a {
        color: white;
    }

    .search-xs {
        background: none;
        border: none;
        border-left: 1px solid;
        color: white;
    }

    .function {
        justify-content: space-around;
        margin-left: 0;
    }

    .slider-button {
        position: relative;
        left: 0;
        bottom: 0;
    }

    .slider-control span {
        background: white;
        border-radius: 5px;
        padding: 5px;
    }

    .carousel-caption {
        bottom: 5%;
    }

    .carousel-control.left, .carousel-control.right {
        margin-left: 0;
        margin-right: 0;
        width: 30px;
        background-image: none;
        margin-top: 30%;
        color: #ff6600;
    }

    .numbers, .numbers2, .numbers3 {
        position: absolute;
        top: 114px;
        z-index: 2;
    }

    .numbers {
        margin-left: 35px;
    }

    .numbers2 {
        margin-left: 32px;
    }

    .numbers3 {
        margin-left: 35px;
    }

    .numbers-pic:before {
        content: '';
        border-radius: 50%;
        background-color: rgb(255, 217, 0);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 110px;
        margin-left: 25px;
        width: 27px;
        height: 27px;
    }

    .shop-new, .shop-top, .shop-sale, .shop-present, .shop-view {
        border: none;
        border-bottom: 1px solid #cccccc;
        border-radius: 0;
        padding-bottom: 5px;
    }

    .shop-top, .shop-sale, .shop-present, .shop-view {
        margin-top: 30px;
    }

    .btn-left {
        top: 396px;
        left: 100px;
    }

    .btn-right {
        top: 396px;
        right: 100px;
    }

    .production {
        margin: 10px 0 20px;
    }

    .new-title, .top-title, .sale-title, .present-title, .view-title {
        justify-content: center;
        border: 1px solid #cccccc;
        border-radius: 10px 10px 0 0;
        margin: 0;
    }

    .new-label {
        height: 50px;
    }

    .production-title {
        margin-top: 10px;
    }

    .separator {
        margin: 0;
    }

    .purchase {
        width: 70px;
        background-color: #ffd900;
        border: none;
        border-radius: 8px;
        font-size: 13px;
        font-weight: bold;
    }

    .purchase span {
        float: none;
        align-items: center;
    }

    .image-link-product {
        width: 25px;
        height: 25px;
    }

    .present-img {
        position: absolute;
        left: 103px;
        width: 43px;
    }

    .present-fon {
        width: 125px;
    }

    .panel-contest, .panel-question {
        padding: 0 0;
    }

    .panel-contest {
        margin-bottom: -50px;
    }

    .panel-question {
        margin-top: 50px;
    }

    .footer-element {
        flex-direction: column;
        align-items: center;
    }

    .footer-contact-chat {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-skype {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .contact-skype:before {
        margin-left: 34px;
        margin-top: -20px;
    }

    .contact-email {
        margin-bottom: 20px;
    }

    .contact-email:before {
        margin-left: 74px;
        margin-top: -15px;
    }

    .contact-phone-footer {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-phone-footer:before {
        margin-left: 2px;
        margin-top: -20px;
    }
}


